html{
    scroll-behavior: smooth;
}

body{
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4; 
    background-color: #f5f5f5;
}

/* Navbar */

.navbar{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    /* sets the bar to have no distance form the right/left sides */
    width: 100%;
    /* sets the width to the length of the page */
    height: 100px;
    background-color: #7393b3a3;
    z-index: 2;
}

.navbar-list{
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 40px;
    margin-right: 2rem;
}

.navbar-list li{
    margin-left: 10px;
    margin-right: 10px;
    
/* spaces the li element */
}

ul{
    list-style: none;
}


.navbar-list li a{
    text-decoration: none;
    font-size: 20px;
    font-family: "palatino";
    color: white;
 
}

/* Welcome section */


#welcome-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 150vh; 
    /* vh sets element to  fill up the entire viewport's height */ 
}

#welcome-image img {
    max-width: 100%;
}


#welcome-text h1, #welcome-text h2 {
    font-family: sans-serif;
    font-size: 3rem;
    letter-spacing: 2px;
    color: hotpink;
    display: block;
    text-align: center;
    
}

#welcome-text h2{
    font-family: "palatino";
    font-size: 20px;

}

/* Who am I? */

.who-am-I{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: red;
    font-family: sans-serif;
    padding-top: 100px;
    letter-spacing: 2px;
    text-align: center;
}

#who-am-I h1{
    justify-content: center;
}

#who-am-I-content{
    display: flex;
    flex-direction: row;
    margin: 0% 2% 0% 2%;
}

/* Image text on hover */

#image-wrapper{
    position: relative;
}

#who-am-I img{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

#me-chess-text{
    position: absolute;
    top: 400px;
    background: rgba(64, 65, 64, 0.621);
    z-index: -1;
    color: white;
    font-size: 20px;

}

#image-wrapper:hover #me-chess-text{
    position: absolute;
    text-align: center;
    z-index: 1;
}

/* END */

 #fact-file{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
    margin-left: 5%;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #B6D0E2;
} 


#fact-file h2, #fact-file h3 {
    font-family: sans-serif;
    font-size: 30px;
    text-align: left;
    color: red;
}

#fact-file h3{
    font-size: 20px;
    text-align: right;
}

#fact-file p{
    text-align: left;
    font-size: 20px;
    letter-spacing: 1.5px;
}

/* Why I want to get into coding */
#why{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    background-color: yellow;
    padding-top: 100px;
    margin-top: 10px;
    margin: 2% 2% 0% 2%;
 
}

#why h1 {
    text-align: center;
    color: hotpink;
    font-family: sans-serif;
}

#why h2 {
    font-family: sans-serif;
    color: red;
}


#why #language, #why #learning{ 
    margin: 0px 8px 0px 8px;
    color: red;
    font-size: 20px;
    font-family: "palatino";
}


#why #language #translation-example{
    text-align: center;
}

/* Projects*/

.projects{
    padding-top: 100px;
    text-align: center;
    height: auto;
    font-size: 20px;
}

.projects-title{
    color: hotpink;
    font-family: sans-serif;
    letter-spacing: 2px;
    font-size: 30px;
}

.projects a{
    text-decoration: none; 
}



/* Contact */

#contact{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    font-family: "palatino";
    letter-spacing: 2px;
    background-image: url("hockney.jpg");
    height: auto;
    color: white
}

#contact h1{
    font-size: 8rem;
    font-family: sans-serif;
}

#contact-links a{
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

/* Property changes to fit phone screen size*/

/* @media (max-width: 500px) {
.navbar-list{
    display: block;
}

change text size - contact Details 
ELisabeth text

    
} */

@media (max-width: 500px) {
    .navbar{
    height: auto;
    }
    
    #welcome-section {
    flex-wrap: nowrap;
    }

    #contact h1{
        font-size: 5rem;
    }
} 
